/* body {
	background-color: #6DC4F4;
}h1 { 
     color:white;
 
} */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 1px;
}

.accordion:hover,
.accordion:focus {
    background-color: #ccc;
}

.accordion-content {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
